html {
    scroll-behavior: smooth;
  }
  
  // BOOTSTRAP INITIAL SPACING
  :root {
      --input-padding-x: 1.5rem;
      --input-padding-y: 0.75rem;
  }
  
  // BASIC STYLES FOR HEADERS
  h3, h5, h6, h4 {
    color: $textColor !important;
  }
  
  // ANCHORS & LINKS
  a {
    text-decoration:none;
  }
  
  .anchor {
    color: $contentAnchor;
    transition: 1s color;
  }
  
  .anchor:hover {
    color: #f2f2f2;
    transition: 1s color;
  }
  
  // MAIN SECTIONS
  .section-wrapper {
    display:flex !important;
    align-items: center;
    background: $backgroundColor;
  }
  
  .experience-wrapper {
    background: $backgroundColor;
  }
  
  main {
    margin-top: -50px;
  }
  
  .cube col {
    justify-content: center;
  }

  /* Navbar Toggler & Navbar Container */

.navbar-toggler {
  display:inherit;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5px 20px 0 20px;
}