
.arrow {
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
}

.arrow span {
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid $textColor;
    border-right: 5px solid $textColor;
    transform: rotate(45deg);
    animation: animate 1s infinite;
}

@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-3px,-3px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(3px, 3px);
    }
}