.btn.btn-light {
    padding: 10px 20px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    background-color: $contentAnchor;
    border: 0px;
    border-color: transparent !important;
    border-radius: 0px;
    transition: .5s background-color, .5s color;
}

.btn.btn-light a {
    color: #000 !important;
    font-weight: 700 !important;
}

.btn.btn-light:hover {
    background-color: $lightHeading;
    border-color: transparent !important;
    transition: .5s background-color, .5s color;
}

.btn.btn-light:hover a {
    color: $darkHeading !important;
}

.btn.btn-light:focus {
    color: $lightHeading !important;
    background-color: $contentAnchor !important;
    border-color: transparent !important;
    transition: .5s background-color, .5s color;
}

.btn.btn-light:active {
    color: $lightHeading !important;
    background-color: $contentAnchor !important;
    border-color: transparent !important;
    transition: .5s background-color, .5s color;
}

.btn-light:not(:disabled):not(.disabled).active, .btn-light:not(:disabled):not(.disabled):active, .show>.btn-light.dropdown-toggle {
    border-color:transparent !important;
}