// CONTENT DESIGN

.content {
    position: fixed;
    height: 100%;
    width: 100%;
    bottom: 0;
    right: 0;
    background-color: $backgroundColor;
    overflow-x: hidden;
    padding-top: 60px;
  }
  
  .content p {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: $lightHeading;
    display: block;
    transition: 0.3s;
  }

  .content .closebtn {
    text-decoration: none;
    font-size: 28px !important;
    color: $lightHeading !important;
    display: block;
    transition: 0.3s;
    position: absolute;
    text-decoration: none;
    background: $backgroundColor;
    top: 10px;
    right: 35px;
    font-size: 45px;
  }

  .content-heading {
    font-size:32px;
    color: $lightHeading;
    text-decoration: underline;
  }  

  .closebtn::after {
    content: 'X';
    color: $lightHeading;
    padding-left: .5rem;
  }

  .content .closebtn:hover {
    cursor: pointer;
  }

  .content a {
    color:$contentAnchor;
  }
  
  .content a:hover{
    color: $lightHeading;
  }

// END CONTENT DESIGN

// HEADING STYLES 

.main-heading, .hp-heading {
    color: $textColor;
    width:100%;
    font-size:3rem;
    font-weight: 700 !important;
}

.main-heading {
  text-align: center;
}

.content-subheading {
    color: $textColor !important;
    text-decoration:underline;
}

.main-heading, .main-text {

  -webkit-animation: fadein 2.5s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 2.5s; /* Firefox < 16 */
      -ms-animation: fadein 2.5s; /* Internet Explorer */
       -o-animation: fadein 2.5s; /* Opera < 12.1 */
          animation: fadein 2.5s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

// END CONTENT STYLES

// BLOGS

.home-arrow::before {
    content: '<<';
    color: $lightHeading;
    padding-right: .5rem;
  }
  
  .home-arrow {
    text-decoration: none;
      font-size: 35px !important;
      color: $lightHeading !important;
      display: block;
      transition: 0.3s;
      position: absolute;
      text-decoration: none;
      background: $backgroundColor;
      top: 10px;
      left: 5px;
      font-size: 45px;
      margin-left: 5px;
  }

// END BLOGS

// MENU

.dark-menu {
    background: $backgroundColor;
  }
  
  .ham {
    width: 20px;
    height: 4px;
    background: $textColor;
    margin: 20px 0 0 20px;
  }
  
  .ham:before {
    display: block;
    content: "";
    width: 28px;
    height: 4px;
    box-shadow: 0 -8px 0 0 $textColor, 0 8px 0 0 $textColor;
  }
  
  .nav-link {
    color: #EAF2F2;
    text-transform: uppercase;
    font-weight: 700;
    font-size:1.5rem;
    transition: .5s color;
  }
  
  .nav-link:hover {
    color:$contentAnchor;
    transition: .5s color;
  }

// END MENU

// HOMEPAGE DESIGN

.main-text {
  color: $lightHeading;
}

.hp-anchor {
  color: $backgroundColor;
}

.btn:hover>.hp-anchor {
  color: $backgroundColor;
}

// END HOMEPAGE DESIGN

// LIST STYLES
.about-list li {
  font-size:1.1rem;
  color:$textColor;
  font-style: italic;
}

.experience-list li {
color: $textColor;
font-size: 1.1rem;
}

.experience-list a {
color: $contentAnchor;
transition: 1s color;
}

.experience-list a:hover {
color:$contentAnchor;
text-decoration: none;
transition: 1s color;
}
