@media screen and (min-width:320px) and (max-width: 768px) {

    .content a {
      font-size: 18px;
    }

    .content p {
      padding-left: 0px;
      padding-right: 0px;
    }

    .content .closebtn {
      left: 5px;
      margin-left: 5px;
    }

    .section-wrapper {
      min-height: 100vh;
      width: 100%;
    }

    .parallax-background {
      background-attachment: scroll;
    }
}

@media (min-width:768px) {
  
  .section-wrapper {
    min-height: 100vh;
    width: 100%;
  }

  .parallax-background {
    background: url('/assets/img/about-me-cover.jpg');
    height: 300px;
    width:100%;
  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}