/* Color Schemes */
@import url("https://fonts.googleapis.com/css?family=Amatic+SC:400,700&subset=cyrillic,hebrew,latin-ext,vietnamese");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap");
@media screen and (max-height: 450px) {
  .sidenav a {
    font-size: 18px; } }

.btn.btn-primary {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
  color: #1e1e1e;
  font-weight: 700;
  background-color: #f2f2f2;
  border: 0px;
  border-radius: 0px;
  transition: .5s background-color, .5s color; }

.btn.btn-primary:hover {
  color: #f2f2f2;
  background-color: #4B5E51;
  transition: .5s background-color, .5s color; }

.btn.btn-primary:focus {
  color: #f2f2f2;
  background-color: #4B5E51;
  transition: .5s background-color, .5s color; }

.btn.btn-primary:active {
  color: #f2f2f2;
  background-color: #4B5E51;
  transition: .5s background-color, .5s color; }

body, html {
  font-family: 'Amatic SC', cursive !important; }

:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: 0.75rem; }

/* Boxes Design */
.boxes,
.image {
  min-height: 50vh;
  width: 100%; }

/* END Boxes Design */
/* Font Families */
p, ul, li {
  font-family: 'Josefin Sans', sans-serif; }

/* END Font Families */
/* Sidenav Design */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111111;
  overflow-x: hidden;
  transition: 1s;
  padding-top: 60px; }

.sidenav p {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: #f2f2f2;
  display: block;
  transition: 0.3s; }

.sidenav .closebtn {
  text-decoration: none;
  font-size: 35px !important;
  color: #f2f2f2 !important;
  display: block;
  transition: 0.3s;
  position: absolute;
  text-decoration: none;
  top: 10px;
  right: 35px;
  font-size: 45px;
  margin-left: 50px; }

.sidenav-heading {
  font-size: 3rem;
  color: #9e9e9e;
  text-decoration: underline; }

.closebtn::after {
  content: 'X';
  color: #f2f2f2;
  padding-left: .5rem; }

.sidenav .closebtn:hover {
  cursor: pointer; }

.sidenav a {
  color: #00FFC9; }

.sidenav a:hover {
  color: #f2f2f2; }

.openNav:hover {
  text-decoration: line-through; }

/* END Sidenav Design */
/* Heading Design */
/*  START HEADINGS */
.main-heading {
  width: 100%;
  text-align: center; }

.main-heading:hover {
  cursor: pointer; }

.sidenav-subheading {
  color: #EAF2F2 !important; }

ul li {
  font-size: 1.1rem;
  color: #EAF2F2;
  font-style: italic; }

.darker {
  background: #1e1e1e; }

.lighter {
  background: #f2f2f2; }

.light-heading {
  color: #f2f2f2;
  font-size: 5em; }

.dark-heading {
  color: #1e1e1e;
  font-size: 5em; }

.active {
  width: 100% !important; }

/* END Heading Design */
