@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700&subset=cyrillic,hebrew,latin-ext,vietnamese');

body, html {
    font-family: 'Amatic SC', cursive !important;
}

:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: 0.75rem;
  }
  
  .boxes,
  .image {
    min-height: 50vh;
    width: 100%;
  }
  
  .darker {
    background: #1e1e1e;
  }

  .lighter {
      background: #f2f2f2;
  }

.light-heading {
    color:#f2f2f2;
    font-size:5em;
}

.dark-heading {
    color:#1e1e1e;
    font-size:5em;
}
  
/* Navigation */

.active {
  width: 100% !important;
}

.disabled {
  width: 100%;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 1s;
    padding-top: 60px;
    text-align:center;
  }
  
  .sidenav p {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 35px;
    color: #f2f2f2;
    display: block;
    transition: 0.3s;
  }

  .sidenav a {
    text-decoration: none;
    font-size: 50px;
    color: #f2f2f2;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover{
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    text-decoration: none;
    top: 10px;
    right: 35px;
    font-size: 45px;
    margin-left: 50px;
  }

  .openNav:hover {
    text-decoration: line-through;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav a {font-size: 18px;}
  }