
  #about-parallax {
    background: url('/assets/img/about-me-cover.jpg');
    height: 300px;
    width:100%;
  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #experience-parallax {
    background: url('/assets/img/experience.jpg');
    height: 300px;
    width:100%;
  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #projects-parallax {
    background: url('/assets/img/projects.jpg');
    height: 300px;
    width:100%;
  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #music-parallax {
    background: url('/assets/img/music/master-header.jpg');
    height: 300px;
    width:100%;
  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #blog-parallax {
    background: url('/assets/img/blog-cover.jpg');
    height: 300px;
    width:100%;
  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #contact-parallax {
    background: url('/assets/img/contact.jpg');
    height: 300px;
    width:100%;
  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
