
#windmoor-parallax {
    background: url('/assets/img/music/windmoor/windmoor-parallax.jpg');
    height: 300px;
    width:100%;
  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }